#skills{
 label{
    font-weight: 600;
    font-size: 14px;
}
.progress{
  height: 6px;
}
}

 @media only screen and (max-width: 600px){
   #skills{
      .text-6xl{
         font-size: 2rem !important;
      }
   }
 }