#skills{
 .skill-title::before{
    content: "";
    display: block;
    position: relative;
    top: 17px;
    left: -45px;
    width: 35px;
    height: 2px;
    z-index: 400;
    background: #fe7b00;
 }
 label{
    font-weight: 600;
    font-size: 14px;
}
.progress{
  height: 6px;
}
}

 @media only screen and (max-width: 600px){
   #skills{
      .text-6xl{
         font-size: 2rem !important;
      }
   }
 }