
#active:checked ~ .wrapper{
    clip-path: circle(75%);
    // background-color: rgb(196, 194, 191);
}
#active:checked ~ .menu-btn{
    background-color: white;
}
#active:checked ~ .menu-btn i::before{
    content: "\f00d";
}
  .menu-btn{
    left: 0px;
    top: 0px;
    line-height: 70px;
    height: 70px;
    width: 70px;
    background-color: red;
    // border-radius: 120px;
    transition: all 1s ease;
    // i{
    // left: 27px;
    // top: 84px;
    // transform: rotate(42deg);
    // }
}
.wrapper {
    clip-path: circle(0px at 50% 50%);
    transition: all 0.5s ease-in-out;
  .menu {
    top: 46%;
    transform: translate(-50%, -50%);
    .item:hover {
      color: white !important;
      transition: all  0.5s ease;
    }
    .item{
     font-size: 7rem;
     line-height: 115px !important;
    &::after {
      content: "";
      display: block;
      height: 6px;
      background-color: black;
      border-radius: 10px;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 1s ease;
    }
    &:hover:after {
      transform: scaleX(1);
    }
  }
}
}