@import url(../../Common/Variables.scss);
#carouselExampleCaptions{
    background-color: transparent !important;
    .carousel-control-prev, .carousel-control-next{
        background-color: var(--mainColor);
        border-radius: 30px;
        height: 30px;
        width: 30px;
        position: unset;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon{
        width: 18px;
        height: 18px;
    }
    .buton [data-bs-target] {
        font-size: 12px;
        outline: none !important;
        // border: none !important;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.493);
        width: 20px;
        height: 20px;
        // background-color: var(--mainColor);
        border: 1px solid rgba(255, 255, 255, 0.493) !important;
        border-top: 0;
        border-bottom: 0;
        // opacity: .3;
        border-radius: 10px;
    }
    .buton .active {
        color: var(--mainColor);
        border: 1px solid var(--mainColor) !important;

    }
    .clienttImg{
        border: solid 8px var(--mainColor);
    }
}



