#education{
  .educate::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 42px;
    left: 38px;
    width: 2px;
    height: 77%;
    z-index: 400;
    background: white;
  }

}
@media only screen and (max-width: 600px){
  #education{
     .text-6xl{
        font-size: 2rem !important;
     }
  }
}