  .educate::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 24px;
    left: 23px;
    width: 2px;
    height: 80%;
    z-index: 400;
    background: white;
  }
  .edu-title::before{
    content: "";
    display: block;
    position: relative;
    top: 17px;
    left: -45px;
    width: 35px;
    height: 2px;
    z-index: 400;
    background: #fe7b00;
}

