#about{
    img{
        width: 360px;
        height: 400px;
        filter: grayscale(100%);
        &:hover{
            filter: none;
        }
    }
}
@media only screen and (max-width: 600px){
    #about{
        img{
            width: 300px !important;
            height: 400px !important;
        }
        .text-lg{
            font-size: 12px !important;
        }
        .px-7{
            padding-left: 3rem !important;
            padding-right: 3rem !important;
        }
    }
}