@import url(../Common/Variables.scss);
#home {
  // background-image: url("../../Images/herophoto.png");
  .msg_box {
    padding-left: -5px;
    .box {
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      border-radius: 4px;
      padding: 5px 7px;
    }
    .icon {
      position: relative;
      top: 14px;
      left: -33px;
    }
  }
  .text {
    letter-spacing: 5px;
    border-right: 2px solid var(--mainColor);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(18), cursor 0.6s step-end infinite alternate;
  }

  @keyframes cursor {
    50% {
      border-color: transparent;
    } 
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }
  .img-box{
    position: relative;
    width: 312px;
    height: 312px;
    overflow: hidden;
    &::before{
      content: '';
      position: absolute;
      inset: -10px 125px;
      background-color: var(--mainColor);
      transition: 0.7s;
      animation: animate 4s linear infinite;
      z-index: -1;
    }
    &:hover::before{
      inset: -20px 0px;
    }

  }
  @keyframes animate {
    0%{
      transform: rotate(0deg);
    }
    0%{
      transform: rotate(360deg);
    }
  }
}

@media only screen and (max-width: 600px ){
  #home{
    .text-6xl{
      font-size: 2rem !important;
    }
    .text-4xl{
      font-size: 1.5rem !important;
    }
    .text-md{
      font-size: 12px !important;
    }
    .img-box{
      margin-top: 3rem;
    }
    .skill-line{
      padding-right: 20px;
    }
  }
}

@media only screen and (max-width: 992px ){
  #home{
  .content{
    margin-bottom: 6rem;
  }
  }
}