@import url("../Common/Variables.scss");
#contact {
  .get-title::before {
    content: "";
    display: block;
    position: relative;
    top: 17px;
    left: -45px;
    width: 35px;
    height: 2px;
    z-index: 400;
    background: #fe7b00;
  }
  .input {
    height: 50px;
    font-weight: 100;
    border: 1px solid var(--bglow);
    box-shadow: none !important;
    outline: none;
    &:focus {
      border: 1px solid var(--mainColor) !important;
    }
    &::placeholder {
      color: white;
    }
  }
  .textarea {
    font-weight: 100;
    border-radius: 5px;
    box-shadow: none !important;
    border: 1px solid var(--bglow);
    outline: none;
    &:focus {
      border: 1px solid var(--mainColor) !important;
    }
    &::placeholder {
      color: white;
    }
  }
  .icon {
    i {
      &:hover {
        color: white !important;
        background-color: var(--mainColor) !important;
        transform: scale(1.1);
        transition: 0.3s all ease-in-out;
      }
    }
  }
}
