@import url("../Common/Variables.scss");
#contact {

  .input {
    height: 50px;
    font-weight: 100;
    border: 1px solid var(--bglow);
    box-shadow: none !important;
    outline: none;
    &:focus {
      border: 1px solid var(--mainColor) !important;
    }
    &::placeholder {
      color: white;
    }
  }
  .textarea {
    font-weight: 100;
    border-radius: 5px;
    box-shadow: none !important;
    border: 1px solid var(--bglow);
    outline: none;
    &:focus {
      border: 1px solid var(--mainColor) !important;
    }
    &::placeholder {
      color: white;
    }
  }
  .icon {
    a{
      &:hover{
        i {
            color: white !important;
            background-color: var(--mainColor) !important;
            transform: scale(1.1);
            transition: 0.3s all ease-in-out;
        }
      }
    }
  }
}
#infomation{
  .card{
    &:hover{
      background-color: #fe7b0034 !important;
    }
  }
}