:root{
    --mainColor: #fe7b00;
    --bglow: #8080802b;
}

.main-color{
    color: var(--mainColor);
}

.main-bg{
    background-color: var(--mainColor);
}
.border-color{
    border-color: var(--mainColor);
}
.bg-low{
    background-color: var(--bglow) !important;
}
