#app {
  /* background-image: url(./Images/herophoto.png); */
  background-image: url(./Images/MainBackground.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  .frame{
    background-color: #8080802b;
  }
  
}